# 1. Data Scraping & Cleaning

##### *Libraries Used*

In [2]:
%matplotlib inline
from bs4 import BeautifulSoup #for HTML parsing
from urllib.request import urlopen
import re #Regular expressions
from time import sleep #To prevent overwhelming the server between connections
from collections import Counter #Keeps track of term counts
from nltk.corpus import stopwords #Filters out stopwords, such as 'the', 'or', 'and'
from lxml import html
import requests
import pandas as pd #for converting results to a dataframe 
from fnmatch import fnmatch
import time
from sqlite3 import dbapi2 as sq3
import os
import numpy as np

#### Data Source

To construct our database for analysis, public Firmographic Data was scraped from the Government of Canada Directories of Canadian companies website; a centrally maintained current searchable database of 60,000 Canadian businesses.
Each business profile contains comprehensive information on contacts, products, services, trade experience, and technology. 

https://www.ic.gc.ca/eic/site/ccc-rec.nsf/eng/home

### Part 1 Create Dataframe

To get access to informations about each company, we make a 5-step subsequent query using beautifulsoup.

**step 1: gather industry classification url**

Take 'NAICS sector 11 Agriculture, Forestry, Fishing and Hunting' as an example, its href attribute is '00035.html'its url is becomes 'https://www.ic.gc.ca/eic/site/ccc-rec.nsf/eng/00035.html' adding the href attribute of each row we are accessing. From here we create a list of all urls to their respective sectors.

In [5]:
def is_match(l, pattern):
    """return True if a URL matches pattern"""    
    return fnmatch(l, pattern)


page = requests.get("https://www.ic.gc.ca/eic/site/ccc_bt-rec_ec.nsf/eng/h_00011.html")
soup = BeautifulSoup(page.content, 'lxml')
ind_url = {title['title']:'http://www.ic.gc.ca/eic/site/ccc-rec.nsf/eng/'+title.get('href') for title in soup.findAll('a', {'title': True, 'href': True})}
pattern = 'http://www.ic.gc.ca/eic/site/ccc-rec.nsf/eng/?????.html'
ind_url = {items[0]:items[1] for items in ind_url.items() if is_match(items[1], pattern)}
industry = pd.DataFrame(list(ind_url.items()), columns=['Industry', 'URL'])

**step 2: collect each industry classification's sector url**

From each of the url above we come to the sector of each industry classification. Here we collect the urls to each individual sectors.

In [446]:
sec_url ={}
pattern = 'http://www.ic.gc.ca/app/ccc/sld/cmpny.do?lang=eng&profileId=1921&naics=?????'
for i in industry.URL:
    page = requests.get(i)
    soup = BeautifulSoup(page.content, 'lxml')
    for sec in soup.findAll('h1'):
        sec_heading = sec.getText()
  
    for sec in soup.findAll('a', {'title': True, 'href': True}):       
        sec_url[sec['title']] = [sec.getText(), sec_heading, sec.get('href')]           
        
    sec_url = {items[0]:items[1] for items in sec_url.items() if is_match(items[1][2], pattern)}
sector = pd.DataFrame.from_dict(sec_url, orient='index').reset_index()
sector.columns = ['sector','sector_code','industry', 'URL']

In [571]:
sector.head()

,sector,sector_code,industry,URL
0,Soybean Farming,11111,"Agriculture, Forestry, Fishing and Hunting",http://www.ic.gc.ca/app/ccc/sld/cmpny.do?lang=...
1,Dry Pea and Bean Farming,11113,"Agriculture, Forestry, Fishing and Hunting",http://www.ic.gc.ca/app/ccc/sld/cmpny.do?lang=...
2,Wheat Farming,11114,"Agriculture, Forestry, Fishing and Hunting",http://www.ic.gc.ca/app/ccc/sld/cmpny.do?lang=...
3,Corn Farming,11115,"Agriculture, Forestry, Fishing and Hunting",http://www.ic.gc.ca/app/ccc/sld/cmpny.do?lang=...
4,Other Grain Farming,11119,"Agriculture, Forestry, Fishing and Hunting",http://www.ic.gc.ca/app/ccc/sld/cmpny.do?lang=...

**step 3: collect each company profile url**

From each of the url above we come to all the companies in each sector. Here we collect the urls to each individual company profile.

In [ ]:
comp_urls ={}

for i in sector.URL:
    s = requests.Session()
    page = s.get(i)
    jsonid = s.cookies.items()[0][1]
    soup = BeautifulSoup(page.content, 'lxml')
    comp_url ={}

   
    for comp in soup.findAll('h1'):
        comp_heading = comp.getText()
   
    for comp in soup.findAll('a', {'href': True}):
        comp_url[comp.getText()] = [comp_heading, 'http://www.ic.gc.ca'+comp.get('href')]

    pattern = 'http://www.ic.gc.ca/app/ccc/srch/nvgt.do;jsessionid='+str(jsonid)+'?lang=eng&prtl=1&sbPrtl=&estblmntNo=????????????&profile=cmpltPrfl&profileId=1921&app=sold&searchNav=F'
    
    comp_url = {items[0]:items[1] for items in comp_url.items() if is_match(items[1][1], pattern)} 

    if comp_url != {}:
        for items in comp_url.items():
            comp_urls[items[0]] = items[1] 
    
        
company = pd.DataFrame.from_dict(comp_urls, orient='index').reset_index()
company.columns = ['company','sector','URL']
company['comp_ID'] = company.index+1

In [601]:
company.head()

,company,sector,URL
0,Agrideria,All Other Crop Farming (11199),http://www.ic.gc.ca/app/ccc/srch/nvgt.do;jsess...
1,Everyones Test Company (Leave in Tank) Operating,Cutlery and Hand Tool Manufacturing (33221),http://www.ic.gc.ca/app/ccc/srch/nvgt.do;jsess...
2,Thompsons Limited,Seed Wholesaler-Distributors (41832),http://www.ic.gc.ca/app/ccc/srch/nvgt.do;jsess...
3,Belle Pulses Ltd.,Flour Milling and Malt Manufacturing (31121),http://www.ic.gc.ca/app/ccc/srch/nvgt.do;jsess...
4,John Boy Farms,Vegetable and Melon Farming (11121),http://www.ic.gc.ca/app/ccc/srch/nvgt.do;jsess...

**step 4: collect and store each company HTML webpage content**

Here we scrape all of the HTML content of each company webpage and store in a SQL database

In [23]:
soup_dict ={}
track=0
errors = {}
for i in comp_url.URL:
    try:
        page = requests.get(i, timeout=10)
    except: 
        errors[track] = i
        track+=1
    soup_dict[track] = i,page.content
    track+=1
    
soup_dict_pd = pd.DataFrame.from_dict(soup_dict, orient='index').reset_index()
soup_dict_pd.columns = ['soup_index','URL','soup']
soup_dict_pd['comp_ID'] = soup_dict_pd.soup_index+1

In [ ]:
def init_db(dbfile, path_start):
    """
    Creates a sqlite db file
    
    Inputs
    -------
    dbfile : str
        Name of the db file to create
        
    path_start : str
        Location to save db file   
    Returns
    --------
    Nothing. Creates a new database file saved in the path_start location
    """
    sqlite_db = sq3.connect(os.path.join(path_start, dbfile))
    return sqlite_db


#Creates an empty SQL database
new_db = "scraped_html.db"
soup_db = init_db(new_db)

In [ ]:
soup_dict_pd = soup_dict_pd.set_index('comp_ID')
soup_dict_pd.to_sql('ic_comp_soup', soup_db, if_exists='append')
soup_dict_pd = soup_dict_pd.reset_index()

**step 5: parse HTML and construct datframes**

We create our dataframe from each of these pages above. Four (4) dataframes are constructed; company information, contact information, company description and product/service offered**

In [29]:
comp_info ={}
cont_info ={}
comp_descr ={}
comp_prod = {}
comp_id = 0
for i in soup_pd.soup:
    soup = BeautifulSoup(i, 'lxml')
    
    #collecting company's information data
    m = []
    n = []

    try:
        for i in soup.findAll('div', {'class':'col-md-5'}):
            for j in i.findAll('h2'):
                m.append(j.getText())
            for j in i.findAll('p'):
                n.append(j.getText())
        for k in range(len(m)):
            if m[k] == 'Company Contact Information:':
                del m[k:]
                del n[k:]
                break
        if len(m) == 1:
            comp_leg_name = n[0]
            comp_oper_name = n[0]
        else:
            comp_leg_name = n[0]
            comp_oper_name = n[1]
                
        comp_id+=1
        comp_ID = '%05d' %comp_id
    except:
        pass

    p = []
    comp_web = ''
    pattern_1 ='http://*'
    pattern_2 ='www.*'
    pattern_3 ='https://*'
    try:
        for i in soup.findAll('div', {'class':'mrgn-tp-0 grouping '}):
            for j in i.findAll('a'):
                p.append(j.get('href'))
            for l in p:
                if is_match(l, pattern_1) or is_match(l, pattern_2) or is_match(l, pattern_3) :    
                    comp_web = l                
    except:
        pass            

    p = []  
    pattern ='Tel.:*'
    try:
        for i in soup.findAll('div', {'class':'mrgn-tp-0 grouping '}):
            for j in i.findAll('p'):
                p.append(j.getText())
            for l in p:
                if is_match(l, pattern): 
                    comp_tel = l
                   
    except:
        pass

    try:
        for i in soup.findAll('address', {'class':'mrgn-bttm-md'}):
            comp_add = i.getText()
    except:
        pass


    comp_info[comp_oper_name] = comp_leg_name,  comp_ID, comp_add, comp_web, comp_tel
    comp_leg_name = ''
    comp_add = ''
    comp_web = ''
    comp_tel = ''
    
    #collecting company's contacts data
    p = []
    q = []

    try:
        for auto in soup.findAll('details', {'id':'details-panel2'}):
                for k in auto.findAll('div', {'class':'col-md-3'}):
                    q.append(k.getText())
                for j in auto.findAll('div', {'class':'row mrgn-lft-md'}):
                    for k in j.findAll('div', {'class':'col-md-5'}):
                        a = k.getText()
                        a = a.split()
                    for k in j.findAll('div', {'class':'col-md-7'}):
                        b = k.getText()
                        b = b.split()
                    c = a+b    
                    p.append(''.join(c))
        
        ran = len(p)//len(q)
        for i in range(len(q)):
            #cont_det = ', '.join(str(e) for e in p[i*ran:ran*(i+1)])
            cont_det = p[i*ran:ran*(i+1)]
            cont_info[q[i]] = comp_oper_name, comp_ID, cont_det 
                    
    except:
        pass            
    
    cont_det = ''
    
    #collecting comany's description
    try:
        for i in soup.findAll('div', {'class':'row mrgn-tp-md mrgn-bttm-md'}):
            for j in i.findAll('div', {'class':'col-md-12'}):
                comp_prof = j.getText()                 
                    
    except:
        pass
        
    p=[]
    try:
        for auto in soup.findAll('details', {'id':'details-panel3'}):
            for j in auto.findAll('div', {'class':'row'}):
                    for k in j.findAll('div', {'class':'col-md-5'}):
                        a = k.getText()
                        a = a.split()
                    for k in j.findAll('div', {'class':'col-md-7'}):
                        b = k.getText()
                        b = b.split()
                    c = a+b    
                    p.append(''.join(c))
                    #descr = ', '.join(str(e) for e in p)
        
        comp_descr[comp_oper_name] = comp_ID, comp_prof, p #descr 
                    
    except:
        pass            
    
    comp_prof = ''
    #descr = '' 
    
    #collecting company's products and services information
    p=[]
    try:
        for auto in soup.findAll('details', {'id':'details-panel4'}):
            for j in auto.findAll('div', {'class':'row mrgn-bttm-md'}):
                    #for k in j.findAll('div', {'class':'col-md-3'}):
                        #a = k.getText()
                        #a = a.split()
                    for k in j.findAll('div', {'class':'col-md-9'}):
                        b = k.getText()
                        b = b.split()
                        p.append(' '.join(b))
                        
                    for k in j.findAll('div', {'class':'col-md-12'}):
                        b = k.getText()
                        b = b.split()
                        p.append(' '.join(b))    
                        
                    #c = a+b    
                    #p.append(''.join(c))
                    #prod_name = ', '.join(str(e) for e in p)
        
        comp_prod[comp_oper_name] = comp_ID, p #prod_name 
                    
    except:
        pass            
    
    comp_oper_name = ''
    #prod_name = ''
    
last_id = comp_id    


comp_info_pd = pd.DataFrame.from_dict(comp_info, orient='index').reset_index()
comp_info_pd.columns = ['comp_op_name' ,'comp_leg_name','comp_ID','address','website', 'telephone']
cont_info_pd = pd.DataFrame.from_dict(cont_info, orient='index').reset_index()
cont_info_pd.columns = ['cont_name','comp_op_name','comp_ID','cont_det']
comp_descr_pd = pd.DataFrame.from_dict(comp_descr, orient='index').reset_index()
comp_descr_pd.columns = ['comp_op_name', 'comp_ID','comp_prof','descr']
comp_prod_pd = pd.DataFrame.from_dict(comp_prod, orient='index').reset_index()
comp_prod_pd.columns = ['comp_op_name','comp_ID','prod_name']

### Part 2. Data joining and cleaning

#### i. Company Information

In [83]:
comp_info_pd.head()

,comp_op_name,comp_leg_name,comp_ID,address,website,telephone
0,Agrideria,Agrideria Industrial,00001,\n \n 4443 Ri...,http://www.agrideriaindustrial.com,Tel.:\n (403) 240-2400\n
1,Everyones Test Company (Leave in Tank) Operating,Everyones Test Company (Leave in Tank) Leg,00002,\n \n 235 Que...,http://www.scroogle.com,Tel.:\n (844) 123-4567
2,Thompsons Limited,Thompsons Limited,00003,\n \n P.O. Bo...,http://www.thompsonslimited.com,Tel.:\n (519) 676-5411\n
3,Belle Pulses Ltd.,Belle Pulses Ltd.,00004,\n \n 1101 Ma...,,Tel.:\n (877) 423-5202
4,John Boy Farms,John Boy Farms,00005,\n \n 11 Ouim...,http://garlicseed.ca/,Tel.:\n (204) 882-2751\n

In [924]:
comp_info_pd['address'] = comp_info_pd['address'].str.split()
comp_info_pd['address'] = comp_info_pd['address'].apply(lambda x: ' '.join(x))
comp_info_pd['telephone'] = comp_info_pd['telephone'].str.slice(5,)
comp_info_pd['telephone'] = comp_info_pd['telephone'].str.split()
comp_info_pd['telephone'] = comp_info_pd['telephone'].apply(lambda x: ' '.join(x))

In [948]:
comp_info_pd = comp_info_pd[comp_info_pd.comp_op_name != '']

In [949]:
comp_info_pd[comp_info_pd.comp_op_name == '']

Empty DataFrame
Columns: [comp_op_name, comp_leg_name, comp_ID, address, website, telephone]
Index: []

In [751]:
comp_info_pd = comp_info_pd.drop_duplicates(subset= ['comp_leg_name','comp_op_name','address'], keep='first') #run later

In [951]:
comp_info_pd[comp_info_pd.duplicated(subset= ['comp_ID'])]

Empty DataFrame
Columns: [comp_op_name, comp_leg_name, comp_ID, address, website, telephone]
Index: []

In [832]:
comp_info_pd['lw_cs_leg'] = comp_info_pd.comp_leg_name.str.lower()
comp_info_pd['lw_op_leg'] = comp_info_pd.comp_op_name.str.lower()

In [950]:
comp_info_pd[comp_info_pd.comp_ID == '56630']

,comp_op_name,comp_leg_name,comp_ID,address,website,telephone
23579,RÉCF,Regroupement des éditeurs canadiens-français,56630,"450, rue Rideau Bureau 402 OTTAWA, Ontario K1N...",http://www.avoslivres.ca,(888) 320-8070

In [1474]:
comp_info_pd.shape

(46874, 6)

In [958]:
comp_info_pd.tail()

,comp_ID,comp_op_name,comp_leg_name,address,website,telephone
46869,56768,Institut CMM,World Trade Centre Montréal,"380, rue Saint-Antoine O Bureau 6000 MONTRÉAL,...",http://www.centredecommercemondial.com/en/,(877) 590-4040
46870,56769,Yarmouth and Area Chamber of Commerce,Yarmouth and Area Chamber of Commerce,"108-368 Main St YARMOUTH, Nova Scotia B5A 1E9",http://www.yarmouthchamberofcommerce.com/,(902) 742-3074
46871,56770,Yellowknife Chamber of Commerce,Yellowknife Chamber of Commerce,"4921 49 St NWT Commerce Place Bldg, 3rd Floor ...",http://www.ykchamber.com,(867) 920-4944
46872,56771,Yorkton Chamber of Commerce,Yorkton Chamber of Commerce,"PO Box 1051 Stn Del. Centre YORKTON, Saskatche...",http://www.yorktonchamber.com,(306) 783-4368
46873,56772,Yukon Chamber of Commerce,Yukon Chamber of Commerce,"205-2237 2nd Ave WHITEHORSE, Yukon Y1A 0K7",http://www.yukonchamber.com,(800) 661-0543

In [764]:
comp_db = sq3.connect("comp_feat.db")

In [971]:
comp_info_pd = comp_info_pd.sort_values('comp_ID')
comp_info_pd = comp_info_pd.set_index('comp_ID')
comp_info_pd.to_sql('ic_comp_det', comp_db, if_exists='append')
comp_info_pd = comp_info_pd.reset_index()

#### ii. Contact Information

In [962]:
cont_info_pd.head()

,cont_name,comp_op_name,comp_ID,cont_det
0,\n\n Ramon\n Agu...,Agrideria,00001,"[Title:ChiefExecutiveOfficer, AreaofResponsibi..."
1,\n\n Gordon M.\n ...,BSB Biotech,29816,"[Title:President, AreaofResponsibility:Adminis..."
2,\n\n First\n Las...,Everyones Test Company (Leave in Tank) Operating,46106,"[Title:Representative, AreaofResponsibility:Ex..."
3,\n\n Firstname\n ...,Everyones Test Company (Leave in Tank) Operating,46106,"[Ext:999, Email:test@test.com, Title:Chairman]"
4,\n\n contact with\n ...,Everyones Test Company (Leave in Tank) Operating,46106,"[AreaofResponsibility:ManagementExecutive., Te..."

In [796]:
def sep(l, heading):
    a = ''
    for i in l:
        if i[0:len(heading)] == heading:
            a = i[len(heading):]
            break
        else:
            a = ''
    return a

In [963]:
cont_info_pd['cont_name'] = cont_info_pd['cont_name'].str.split()
cont_info_pd['cont_name'] = cont_info_pd['cont_name'].apply(lambda x: ' '.join(x))

In [964]:
cont_info_pd['title'] = cont_info_pd['cont_det'].apply(sep, heading ='Title:')
cont_info_pd['responsibility'] = cont_info_pd['cont_det'].apply(sep, heading ='AreaofResponsibility:')
cont_info_pd['tel'] = cont_info_pd['cont_det'].apply(sep, heading ='Telephone:')
cont_info_pd['ext.'] = cont_info_pd['cont_det'].apply(sep, heading ='Ext:')
cont_info_pd['email'] = cont_info_pd['cont_det'].apply(sep, heading ='Email:')
#del cont_info_pd['cont_det']

In [965]:
cont_info_pd['title'] = cont_info_pd['title'].apply(lambda x: re.findall('[A-Z][^A-Z]*',x))
cont_info_pd['title'] = cont_info_pd['title'].apply(lambda x: ' '.join(x))
cont_info_pd['responsibility'] = cont_info_pd['responsibility'].apply(lambda x: re.findall('[A-Z][^A-Z]*',x))
cont_info_pd['responsibility'] = cont_info_pd['responsibility'].apply(lambda x: ' '.join(x))

In [966]:
cont_info_pd.shape

(67062, 9)

In [967]:
cont_info_pd[cont_info_pd.comp_ID == '55010']

,cont_name,comp_op_name,comp_ID,cont_det,title,responsibility,tel,ext.,email
28784,Brian Friedrich FCPA FCGA,friedrich & friedrich corporation,55010,"[Title:Partner/Associate, AreaofResponsibility...",Partner/ Associate,Management Executive.,(604)452-2223,,friedrich@friedrich.ca
28785,Laura Friedrich FCPA FCGA,friedrich & friedrich corporation,55010,"[Title:Partner/Associate, AreaofResponsibility...",Partner/ Associate,Management Executive.,(604)452-2223,,friedrich@friedrich.ca

In [969]:
cont_info_pd = cont_info_pd.sort_values('comp_ID')

In [981]:
cont_info_pd.head()

,comp_ID,cont_name,comp_op_name,title,responsibility,tel,ext.,email
0,00001,Ramon Aguilera,Agrideria,Chief Executive Officer,Administrative Services.,(403)240-2400,,info@agrideriaindustrial.com
1,00003,Dawn Betancourt,Thompsons Limited,President,"Government Relations, Management Executive.",(519)676-5411,20405,DBetancourt@ThompsonsLimited.com
2,00003,Joey Groot,Thompsons Limited,Manager,Manufacturing/ Production/ Operations.,(519)676-5411,20223,RGoldhawk@Thompsonslimited.com
3,00003,Scott Cottenden,Thompsons Limited,Manager,Export Sales& Marketing.,(519)676-5411,20276,SCottenden@Thompsonslimited.com
4,00003,Darcy Oliphant,Thompsons Limited,Manager,"Management Executive, Domestic Sales& Marketin...",(519)676-5411,20227,DOliphant@thompsonslimited.com

In [977]:
del cont_info_pd['cont_det']

In [979]:
cont_info_pd = cont_info_pd.set_index('comp_ID')
cont_info_pd.to_sql('ic_cont_det', comp_db, if_exists='append')
cont_info_pd = cont_info_pd.reset_index()

#### iii. Compnay Description

In [982]:
comp_descr_pd.head()

,comp_op_name,comp_ID,comp_prof,descr
0,Agrideria,00001,\nCompany Profile\n AGRIDERIA INDUS...,"[CountryofOwnership:Foreign, YearEstablished:2..."
1,Everyones Test Company (Leave in Tank) Operating,46106,\nCompany Profile\n This is not a r...,"[CountryofOwnership:Canada, YearEstablished:19..."
2,Thompsons Limited,00003,\nCompany Profile\n - Commodity han...,"[CountryofOwnership:Foreign, YearEstablished:1..."
3,Belle Pulses Ltd.,00004,\n,"[CountryofOwnership:Canada, Exporting:Yes, Pri..."
4,John Boy Farms,34806,\nCompany Profile\n John Boy Farms ...,"[Exporting:No, PrimaryIndustry(NAICS):111219-O..."

In [983]:
comp_descr_pd['comp_prof'] = comp_descr_pd['comp_prof'].str.split()
comp_descr_pd['comp_prof'] = comp_descr_pd['comp_prof'].apply(lambda x: ' '.join(x))
comp_descr_pd['comp_prof'] = comp_descr_pd['comp_prof'].str.slice(15,)
comp_descr_pd['country_of_ownership'] = comp_descr_pd['descr'].apply(sep, heading ='CountryofOwnership:')
comp_descr_pd['exporting'] = comp_descr_pd['descr'].apply(sep, heading ='Exporting:')
comp_descr_pd['year_estab'] = comp_descr_pd['descr'].apply(sep, heading ='YearEstablished:')
comp_descr_pd['primary_NAICS'] = comp_descr_pd['descr'].apply(sep, heading ='PrimaryIndustry(NAICS):')
comp_descr_pd['alt_NAICS'] = comp_descr_pd['descr'].apply(sep, heading ='AlternateIndustries(NAICS):')
comp_descr_pd['prim_bus_activity'] = comp_descr_pd['descr'].apply(sep, heading ='PrimaryBusinessActivity:')
comp_descr_pd['tot_sales'] = comp_descr_pd['descr'].apply(sep, heading ='TotalSales($CDN):')
comp_descr_pd['num_employees'] = comp_descr_pd['descr'].apply(sep, heading ='NumberofEmployees:')

#del comp_descr_pd['descr']

In [984]:
comp_descr_pd['prim_NAICS'] = comp_descr_pd['primary_NAICS'].apply(lambda x: re.findall('\d+',x))
comp_descr_pd['prim_NAICS'] = comp_descr_pd['prim_NAICS'].apply(lambda x: ' '.join(x))
comp_descr_pd['prim_NAICS_sec'] = comp_descr_pd['primary_NAICS'].apply(lambda x: re.findall('[A-Z][^A-Z]*',x))
comp_descr_pd['prim_NAICS_sec'] = comp_descr_pd['prim_NAICS_sec'].apply(lambda x: ' '.join(x))
comp_descr_pd['alte_NAICS'] = comp_descr_pd['alt_NAICS'].apply(lambda x: re.findall('\d+',x))
comp_descr_pd['alte_NAICS'] = comp_descr_pd['alte_NAICS'].apply(lambda x: ' '.join(x))
#comp_descr_pd['alte_NAICS_sec'] = comp_descr_pd['alt_NAICS'].apply(lambda x: re.findall('\D+',x))comp_descr_pd['alte_NAICS_sec'] = comp_descr_pd['alte_NAICS_sec'].apply(lambda x: ' '.join(x))
comp_descr_pd['prim_bus_activity'] = comp_descr_pd['prim_bus_activity'].apply(lambda x: re.findall('[A-Z][^A-Z]*',x))
comp_descr_pd['prim_bus_activity'] = comp_descr_pd['prim_bus_activity'].apply(lambda x: ' '.join(x))

#del comp_descr_pd['primary_NAICS']
#del comp_descr_pd['alt_NAICS']

In [991]:
comp_descr_pd.head()

,comp_op_name,comp_ID,comp_prof,descr,country_of_ownership,exporting,year_estab,primary_NAICS,alt_NAICS,prim_bus_activity,tot_sales,num_employees,prim_NAICS,prim_NAICS_sec,alte_NAICS
0,Agrideria,00001,AGRIDERIA INDUSTRIAL IS AN INTERNATIONAL PROD...,"[CountryofOwnership:Foreign, YearEstablished:2...",Foreign,Yes,2005,111110-SoybeanFarming,111150-CornFarming111999-AllOtherMiscellaneous...,Manufacturer/ Processor/ Producer,"$50,000,000+",32,111110,Soybean Farming,111150 111999
1,Everyones Test Company (Leave in Tank) Operating,46106,This is not a real company. Do not contact. D...,"[CountryofOwnership:Canada, YearEstablished:19...",Canada,Yes,1996,311111-DogandCatFoodManufacturing,111110-SoybeanFarming313320-FabricCoating33221...,Manufacturer/ Processor/ Producer,"$50,000,000+",100,311111,Dogand Cat Food Manufacturing,111110 313320 332210 541510
2,Thompsons Limited,00003,"- Commodity handling & processing, Oilseeds (...","[CountryofOwnership:Foreign, YearEstablished:1...",Foreign,Yes,1924,115110-SupportActivitiesforCropProduction,111110-SoybeanFarming411120-OilseedandGrainWho...,Manufacturer/ Processor/ Producer,"$50,000,000+",250,115110,Support Activitiesfor Crop Production,111110 411120 418320
3,Belle Pulses Ltd.,00004,,"[CountryofOwnership:Canada, Exporting:Yes, Pri...",Canada,Yes,,111130-DryPeaandBeanFarming,311211-FlourMilling,Manufacturer/ Processor/ Producer,,,111130,Dry Peaand Bean Farming,311211
4,John Boy Farms,34806,John Boy Farms is an agricultural operation g...,"[Exporting:No, PrimaryIndustry(NAICS):111219-O...",,No,,111219-OtherVegetable(exceptPotato)andMelonFar...,454111-InternetShopping,Manufacturer/ Processor/ Producer,,,111219,Other Vegetable(except Potato)and Melon Farming,454111

In [988]:
comp_descr_pd[comp_descr_pd.comp_op_name == '']
comp_descr_pd = comp_descr_pd[comp_descr_pd.comp_op_name != '']

In [1478]:
comp_descr_pd.shape

(46874, 12)

In [992]:
del comp_descr_pd['descr']
del comp_descr_pd['primary_NAICS']
del comp_descr_pd['alt_NAICS']

In [1482]:
comp_descr_pd.head()

,comp_ID,comp_op_name,comp_prof,country_of_ownership,exporting,year_estab,prim_bus_activity,tot_sales,num_employees,prim_NAICS,prim_NAICS_sec,alte_NAICS
0,00001,Agrideria,AGRIDERIA INDUSTRIAL IS AN INTERNATIONAL PROD...,Foreign,Yes,2005,Manufacturer/ Processor/ Producer,"$50,000,000+",32,111110,Soybean Farming,111150 111999
1,00003,Thompsons Limited,"- Commodity handling & processing, Oilseeds (...",Foreign,Yes,1924,Manufacturer/ Processor/ Producer,"$50,000,000+",250,115110,Support Activitiesfor Crop Production,111110 411120 418320
2,00004,Belle Pulses Ltd.,,Canada,Yes,,Manufacturer/ Processor/ Producer,,,111130,Dry Peaand Bean Farming,311211
3,00007,SunSelect Produce,"At SunSelect, we take our responsibility to o...",Canada,Yes,1985,Manufacturer/ Processor/ Producer,,350,111419,Other Food Crops Grown Under Cover,111219
4,00009,Funk's Blueberries,Cultivate blueberries,,No,,Manufacturer/ Processor/ Producer,,,111330,Non- Citrus Fruitand Tree Nut Farming,

In [ ]:
comp_descr = comp_descr[comp_descr.comp_ID != '46106']
comp_descr = comp_descr.reset_index()
del comp_descr['index']

In [ ]:
comp_descr['alte_NAICS'] = comp_descr['alte_NAICS'].str.split()

In [ ]:
comp=comp_descr.comp_ID.unique()
common_ = {}
for i, comp1 in enumerate(comp):
    name = comp_descr[comp_descr.comp_ID == comp1].comp_op_name.max()
    l = []
    for j, comp2 in enumerate(comp):
        if  i != j:
            a = comp_descr.alte_NAICS[i]
            b = comp_descr.alte_NAICS[j]
        c = set(a).intersection(set(b))
        if c != set():
            c = list(c)
            for y in c:
                l.append(y)
    
    l = set(l)
    l = list(l)
    common_[comp1] = name, l

In [ ]:
com_pd = pd.DataFrame.from_dict(common_).T.reset_index()
com_pd.columns = ['comp_ID','comp_op_name', 'comm_NAICS']

In [ ]:
a = com_pd['comm_NAICS']
comp_descr_pd = comp_descr_pd.join(a)

In [ ]:
comp_descr_pd['alte_NAICS'] = comp_descr_pd['alte_NAICS'].apply(lambda x: ' '.join(x))
comp_descr_pd['comm_NAICS'] = comp_descr_pd['comm_NAICS'].apply(lambda x: ' '.join(x))

In [ ]:
comp_descr_pd.ix[comp_descr.comm_NAICS == '', 'comm_NAICS'] = comp_descr_pd.ix[comp_descr.comm_NAICS == '', 'alte_NAICS']

In [1480]:
comp_descr_pd = comp_descr_pd.sort_values('comp_ID')
comp_descr_pd = comp_descr_pd.set_index('comp_ID')
comp_descr_pd.to_sql('ic_comp_descr', comp_db, if_exists='replace')
comp_descr_pd = comp_descr_pd.reset_index()

#### iv. Company Product/Service Offered

In [30]:
comp_prod_pd = pd.DataFrame.from_dict(comp_prod, orient='index').reset_index()
comp_prod_pd.columns = ['comp_op_name','comp_ID','prod_name']

In [31]:
comp_prod_pd.head()

,comp_op_name,comp_ID,prod_name
0,Agrideria,00001,"[YELLOW CORN (MAIZE), YELLOW CORN (MAIZE) FOR ..."
1,Everyones Test Company (Leave in Tank) Operating,46106,"[Product Name - Exported - No Desc. - No Fr., ..."
2,Thompsons Limited,00003,"[BARLEY, CHOPPED, CRUSHED OR GROUND /FEED/, WH..."
3,Belle Pulses Ltd.,00004,"[Pulse products misc., Yellow & Green Split Pe..."
4,John Boy Farms,34806,"[Garlic, Fresh garlic for table consumption an..."

In [56]:
comp_prod_pd[comp_prod_pd.comp_op_name == 'Quatrex environment Inc'].prod_name.max()

'miscellaneous items absorbents granular absorbents industrial rugs pads rolls socks specialty products spill clean products spill kits accessories hand held spill kits mobile spill kits drum spill kits stationary spill kits spill kit accessories secondary containment indoor drum storage indoor ibc storage stormwater management outdoor containment flammable liquid storage safety containers cabinets safety cabinets safety cans drum accessories drums overpacks skimmers filtration equipment belt skimmer disc skimmer skimmer parts filter bags media tube skimmer green products secondary containment fluid leak prevention air gas leak prevention miscellaneous items includes items goods cannot conceivably classified existing classes'

In [36]:
comp_prod_pd.shape

(46875, 3)

In [37]:
comp_prod_pd[comp_prod_pd.comp_op_name == '']
comp_prod_pd = comp_prod_pd[comp_prod_pd.comp_op_name != '']

In [38]:
comp_prod_pd.iloc[1]

comp_op_name     Everyones Test Company (Leave in Tank) Operating
comp_ID                                                     46106
prod_name       [Product Name - Exported - No Desc. - No Fr., ...
Name: 1, dtype: object

In [57]:
comp_prod_pd.head()

,comp_op_name,comp_ID,prod_name
0,Agrideria,00001,yellow corn maize yellow corn maize human cons...
1,Thompsons Limited,00003,barley chopped crushed ground feed wheat seed ...
2,Belle Pulses Ltd.,00004,pulse products misc yellow green split peas pe...
3,John Boy Farms,34806,garlic fresh garlic table consumption premium ...
4,Solanum International Inc.,33695,seed potatoes potato varieties table processin...

In [41]:
def sep_7(l):
    b = []
    for i in l:
        i = i.lower()
        i = re.sub('[^a-zA-Z]+', ' ', i)
        b.append(i)
    stop_words = set(stopwords.words("english")) 
    result = [w for w in b if not w in stop_words]
    return result

In [42]:
comp_prod_pd['prod_name'] = comp_prod_pd['prod_name'].apply(sep_7)
comp_prod_pd['prod_name'] = comp_prod_pd['prod_name'].apply(lambda x: ' '.join(x))
comp_prod_pd['prod_name'] = comp_prod_pd['prod_name'].str.split() 
comp_prod_pd['prod_name'] = comp_prod_pd['prod_name'].apply(sep_7)

In [44]:
comp_prod_pd = comp_prod_pd[comp_prod_pd.comp_ID != '46106']
comp_prod_pd = comp_prod_pd.reset_index()
del comp_prod_pd['index']

In [63]:
comp_prod_pd.head()

,comp_op_name,comp_ID,prod_name
0,Agrideria,00001,yellow corn maize yellow corn maize human cons...
1,Thompsons Limited,00003,barley chopped crushed ground feed wheat seed ...
2,Belle Pulses Ltd.,00004,pulse products misc yellow green split peas pe...
3,John Boy Farms,34806,garlic fresh garlic table consumption premium ...
4,Solanum International Inc.,33695,seed potatoes potato varieties table processin...

In [67]:
comp_prod_pd = comp_prod_pd.sort_values('comp_ID')
comp_prod_pd = comp_prod_pd.set_index('comp_ID')
comp_prod_pd.to_sql('ic_comp_prod', comp_db, if_exists='replace')
comp_prod_pd = comp_prod_pd.reset_index()